.dropbtn {
  border-color: black;
  border-radius: 100px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
    padding: 12px 16px;

  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

#myText{
  border-radius: 100px;
  height: 20px;
  width: 500px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}

#google_search{
  margin-top: 100px;
  margin-bottom: 20px;
}

#logo-1{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
 
}

body{
  background-color: white;

}

@media (max-width: 1028px) {
  #myText{
   margin-top: 100px;
  }
}








